<div class="container mt-2">
  <div class="d-flex flex-column gap-2">
    <nav class="navbar navbar-dark bg-primary justify-content-between">
      <a class="navbar-brand ms-3 cursor-pointer" role="button" routerLink=""
        >CF5 - Angular Introduction</a
      >
    </nav>
    <div class="d-flex flex-row gap-2">
      <app-list-group-menu class="text-nowrap"></app-list-group-menu>
      <span class="flex-grow-1 p-2 text-nowrap">
        <router-outlet></router-outlet
      ></span>
    </div>
  </div>
</div>
